// You can easily overwrite the default variables like this:
$primaryColor = #435F96
$accentColor = #ED6A5A

// (Check /sutairu/base/_defaultVars.styl and /atomiku/_defaultVars for all default variables.)

@import './sutairu'
@import './atomiku'

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Sticky Footer & page content background color */
.App
  display flex
  min-height: 100vh;
  flex-direction: column;

.page-content
  background: #f3f3f3
  flex 1
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.logo-text
  align-self center
  flex 1
  font-size 3.2rem
  color $primaryColor
  
nav
  align-self center
  ul
    margin 0
    li
      display inline-block
      margin-left 10px

.navItemActive
  box-shadow 0px 1px $accentColor

.clasp-masonry
  column-count 4
  column-gap 1em

.clasp
  display inline-block
  margin 0 0 1em
  width 100%

.clasp__image
  width 100%
  height auto
  vertical-align: middle

.add-button
  line-height 0
  padding 30px 15px

.delete-button
  line-height 0
  padding 5px 12px

.preview-image
  width 100%
  height 500px
  background-size: contain
  background-repeat: no-repeat
  background-position: 50% 0

// Compounds
.button--default
  @extend .border-pill

.button--primary
  @extend .button--default
  @extend .bg-primary
  @extend .border-primary
  @extend .bg-hover-accent
  @extend .border-hover-accent

.button--accent
  @extend .button--default
  @extend .bg-accent
  @extend .border-accent
  @extend .bg-hover-primary
  @extend .border-hover-primary

.button--primary-clear
  @extend .button--default
  @extend .c-primary
  @extend .border-primary
  @extend .bg-transparent
  @extend .bg-hover-black

.button--accent-clear
  @extend .button--default
  @extend .c-accent
  @extend .border-accent
  @extend .bg-transparent
  @extend .bg-hover-black

.button--white-clear
  @extend .button--default
  @extend .c-white
  @extend .border-white
  @extend .bg-transparent
  @extend .bg-hover-primary

/*
mobile: up to 768px
tablet: from 769px
desktop: from 1008px
widescreen: from 1200px
New! fullhd: from 1392px
960
1152
1344
*/